@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@300&display=swap');
:root {
    --primary-color:#F7F0FF;
    --secondary-color:#ECECEC;
    --line-height:1.7rem;
   
}

html {
    scroll-behavior: smooth;
}

/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}    */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

body {
    font-family:'Merriweather', serif;
}

.button-wrapper {
    display: flex;
    justify-content: flex-end;
    padding: 3px;
    cursor: pointer;
   
}
.submit {
    color: #008cba;
}
.card {
    display: flex;  
    justify-content: space-between;
    border: 2px solid var(--secondary-color);
    margin: 10px;
    border-radius: 5px;
}

.card span {
    padding: 15px;
}


@media screen and (max-width: 768px) {
    
}